[submodule "Singularity"]
	path = Singularity
	url = https://github.com/Product-Live/Singularity.git
[submodule "client/react"]
	path = client/react
	url = https://github.com/anzerr/Module_react.git
[submodule "client/libary"]
	path = client/libary
	url = https://github.com/anzerr/Module_Libary.git
[submodule "cordova/module/libary"]
	path = cordova/module/libary
	url = https://github.com/anzerr/Module_Libary.git
[submodule "cordova/module/react"]
	path = cordova/module/react
	url = https://github.com/anzerr/Module_react.git
